@import url(https://fonts.googleapis.com/css?family=Raleway|Sen&display=swap);
@keyframes nav-list-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70px);
    opacity: 1;
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.1);
  }
}

@keyframes nav-list-out {
  0% {
    transform: translateY(70px);
    opacity: 1;
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0;
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0);
    transform: translateY(-100%);
  }
}

@keyframes burger-section-top-in {
  0% {
    margin: 3px 0;
    transform: rotate(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    margin: 0px 0;
    transform: translateY(2px) rotate(-45deg);
  }
}

@keyframes burger-section-center-in {
  0% {
    margin: 3px 0;
    /* width: 30px; */
    opacity: 1;
  }
  100% {
    margin: 0px 0;
    /* width: 0px; */
    opacity: 0;
  }
}

@keyframes burger-section-bottom-in {
  0% {
    margin: 3px 0;
    transform: rotate(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    margin: 0px 0;
    transform: translateY(-2px) rotate(45deg);
  }
}

@keyframes burger-section-top-out {
  0% {
    margin: 0px 0;
    transform: translateY(2px) rotate(-45deg);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    margin: 3px 0;
    transform: rotate(0);
  }
}

@keyframes burger-section-center-out {
  0% {
    margin: 0px 0;
    /* width: 0px; */
    opacity: 0;
  }
  100% {
    margin: 3px 0;
    /* width: 30px; */
    opacity: 1;
  }
}

@keyframes burger-section-bottom-out {
  0% {
    margin: 0px 0;
    transform: translateY(-2px) rotate(45deg);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    margin: 3px 0;
    transform: rotate(0);
  }
}
body {
  /* background-color: yellow;
 */
}

nav {
  height: 70px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-family: var(--primary-font);
  box-sizing: border-box;
  z-index: 5;
  padding: 12px;
  background-color: white;
}

.nav-list {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  padding: 10px;
  width: 100%;
  transform: translateY(-100%);
}

.nav-list li {
  padding: 5px 0px;
  font-size: var(--font-big);
  letter-spacing: 10px;
}

.nav-list li:last-child {
  display: flex;
}

.nav-list li:last-child input {
  border: 2px solid var(--primary);
  font-family: var(--secondary-font);
  padding: 5px;
  font-size: var(--font-base);
  border-radius: 5px;
  height: 20px;
  flex-grow: 1;
  outline: none;
}

.nav-list li:last-child svg {
  margin-left: 5px;
  stroke: var(--primary);
  fill: var(--primary);
}

.nav-burger {
  height: 100%;
  width: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-burger-section {
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--primary);
  margin: 3px 0;
}

:root {
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Sen', sans-serif;
  --primary: #048a81;
  --secondary: #3a606e;
  --font-base: 16px;
  --font-big: 20px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

ul {
  display: flex;
  list-style: none;
  padding: 1em;
  margin: 0;
}

li {
  padding: 20px;
  font-family: var(--secondary-font);
}

.post-preview {
  font-family: var(--primary-font);
}

