nav {
  height: 70px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-family: var(--primary-font);
  box-sizing: border-box;
  z-index: 5;
  padding: 12px;
  background-color: white;
}

.nav-list {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  padding: 10px;
  width: 100%;
  transform: translateY(-100%);
  margin: 0;
  list-style-type: none;
  z-index: 3;
}

.nav-list li {
  padding: 5px 0px;
  font-size: var(--font-big);
  font-family: var(--secondary-font);
  letter-spacing: 10px;
}

.nav-list li:last-child {
  display: flex;
  align-items: center;
}

.nav-list li:last-child input {
  border: 2px solid var(--primary);
  font-family: var(--secondary-font);
  padding: 5px;
  font-size: var(--font-base);
  border-radius: 5px;
  height: 20px;
  flex-grow: 1;
  outline: none;
}

.nav-list li:last-child svg {
  margin-left: 5px;
  stroke: var(--primary);
  fill: var(--primary);
  width: 25px;
  height: 25px;
}

.nav-burger {
  height: 100%;
  width: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-burger-section {
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--primary);
  margin: 3px 0;
}

.nav-list-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {

  nav {
    align-items: center;
  }

  .nav-header {
    width: 100%;
  }

  .nav-burger {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .nav-list-desktop {
    display: block;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .nav-list-desktop li {
    font-family: var(--secondary-font);
    letter-spacing: var(--primary-spacing);
    padding: 0px var(--g1);
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: var(--r1);
    transition: all .3s;
  }

  .nav-list-desktop:last-child svg {
    width: 15px;
    height: 15px;
  }

  .nav-list-desktop li:hover {
    background-color: var(--primary);
    color: white;
    box-shadow: inset 20px 20px 60px #037571, inset -20px -20px 60px #059f99;
    fill: white;
  }
}
