<section class="author">
  <h3 data-hax><%= author.name %></h3>
  <div class="quote" data-hax>
    <img section="quote-left" src="assets/icons/quote1.svg" />
    <img section="quote-right" src="assets/icons/quote2.svg" />
    <p><%= author.punchline %></p>
  </div>
  <img class="avatar" style="background-image: url('assets/images/avatar.png')" data-hax>
  <p section="description" data-hax><%= author.description %></p>
  <a href="/acerca" data-hax>LEER MAS</a>
</section>