<footer>
  <%- include('newsletter'); %>
  <div class="wrapper">
    <div class="logo">
      LOGO
    </div>
    <div class="social-media">
      <img src="assets/icons/instagram.svg">
      <img src="assets/icons/facebook.svg">
    </div>
  </div>
  <ul>
    <li>ACERCA</li>
    <li>CONTACTO</li>
  </ul>
  <span class="copyright"><%= footer.copyright %></span>
</footer>