<section class="newsletter">
  <h2>Newsletter</h2>
  <span>Suscribete a nuestro newsletter semanal</span>
  <input type="text" name="email" placeholder="Tu email" />
  <a href="#">SUSCRIBIRME</a>
</section>