<a href="/posts/<%= post.slug %>" class="post-card post-gradient" data-hax>
  <div class="post-image"
    style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) -100%, rgba(0, 0, 0, 0.5) 100%), url('<%= posts[0].images.hero %>')">
  </div>
  <h6><%= post.category %></h6>
  <h3><%= post.title %></h3>
</a>