@import url(https://fonts.googleapis.com/css?family=Raleway|Sen&display=swap);
/* nav-bar */

@keyframes nav-list-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.1);
  }
}

@keyframes nav-list-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0;
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0);
    transform: translateY(-100%);
  }
}

@keyframes burger-section-top-in {
  0% {
    margin: 3px 0;
    transform: rotate(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    margin: 0px 0;
    transform: translateY(2px) rotate(-45deg);
  }
}

@keyframes burger-section-center-in {
  0% {
    margin: 3px 0;
    /* width: 30px; */
    opacity: 1;
  }
  100% {
    margin: 0px 0;
    /* width: 0px; */
    opacity: 0;
  }
}

@keyframes burger-section-bottom-in {
  0% {
    margin: 3px 0;
    transform: rotate(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    margin: 0px 0;
    transform: translateY(-2px) rotate(45deg);
  }
}

@keyframes burger-section-top-out {
  0% {
    margin: 0px 0;
    transform: translateY(2px) rotate(-45deg);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    margin: 3px 0;
    transform: rotate(0);
  }
}

@keyframes burger-section-center-out {
  0% {
    margin: 0px 0;
    /* width: 0px; */
    opacity: 0;
  }
  100% {
    margin: 3px 0;
    /* width: 30px; */
    opacity: 1;
  }
}

@keyframes burger-section-bottom-out {
  0% {
    margin: 0px 0;
    transform: translateY(-2px) rotate(45deg);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    margin: 3px 0;
    transform: rotate(0);
  }
}

/* nav-bar */


/* hax */

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav {
  height: 70px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-family: var(--primary-font);
  box-sizing: border-box;
  z-index: 5;
  padding: 12px;
  background-color: white;
}

.nav-list {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  padding: 10px;
  width: 100%;
  transform: translateY(-100%);
  margin: 0;
  z-index: 3;
}

.nav-list li {
  padding: 5px 0px;
  font-size: var(--font-big);
  font-family: var(--secondary-font);
  letter-spacing: 10px;
}

.nav-list li:last-child {
  display: flex;
  align-items: center;
}

.nav-list li:last-child input {
  border: 2px solid var(--primary);
  font-family: var(--secondary-font);
  padding: 5px;
  font-size: var(--font-base);
  border-radius: 5px;
  height: 20px;
  flex-grow: 1;
  outline: none;
}

.nav-list li:last-child svg {
  margin-left: 5px;
  stroke: var(--primary);
  fill: var(--primary);
  width: 25px;
  height: 25px;
}

.nav-burger {
  height: 100%;
  width: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-burger-section {
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--primary);
  margin: 3px 0;
}

section.author {
  display: grid;
  gap: var(--g1);
  padding: var(--g1) 0;
}

section.author h3 {
  font-family: var(--secondary-font);
  font-weight: 200;
  letter-spacing: var(--primary-spacing);
  padding: 0 var(--g1);
  margin: 0;
}

section.author .quote {
  padding: 0 var(--g1);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

section.author .quote img[section=quote-left] {
  grid-row-start: 1;
  align-self: center;
  justify-self: center;
}

section.author .quote img[section=quote-right] {
  grid-row-start: 3;
  grid-column-start: 3;
  align-self: center;
  justify-self: center;
}

section.author .quote p {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 0;
  font-family: var(--primary-font);
  line-height: var(--primary-line-height);
}

section.author .avatar {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

section.author p[section=description] {
  padding: 0 var(--g1);
  font-family: var(--primary-font);
  line-height: var(--primary-line-height);
}

section.author a {
  padding: 0 var(--g1);
  font-family: var(--secondary-font);
  letter-spacing: var(--primary-spacing);
  text-decoration: none;
  color: black;
}

section.author a:visited {
  color: black;
}

footer {
  background-color: var(--primary);
  padding: var(--g1);
  display: grid;
  grid-gap: var(--g2);
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-media {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--g1);
}

footer .logo {
  font-family: var(--primary-font);
  font-size: var(--font-big);
  color: white;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: var(--g1);
}

footer li {
  font-family: var(--secondary-font);
  font-size: var(--font-big);
  letter-spacing: var(--primary-spacing);
  color: white;
}

footer .copyright {
  color: white;
  font-family: var(--primary-font);
  font-weight: 200;
  text-align: center;
  opacity: .5;
}

section.newsletter {
  display: grid;
  grid-gap: var(--g1);
}

section.newsletter h2 {
  font-family: var(--secondary-font);
  letter-spacing: var(--primary-spacing);
  margin: 0;
  text-transform: uppercase;
  color: white;
}

section.newsletter span {
  font-family: var(--primary-font);
  color: white;
  letter-spacing: var(--primary-spacing);
  max-width: 80%;
}

section.newsletter input {
  background: transparent;
  border: 2px solid white;
  padding: var(--p1);
  border-radius: var(--r1);
  font-family: var(--primary-font);
  letter-spacing: var(--primary-spacing);
  height: 30px;
}

section.newsletter input::placeholder {
  color: white;
  font-family: var(--primary-font);
  letter-spacing: var(--primary-spacing);
}

section.newsletter a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--p1);
  border-radius: var(--r1);
  border: 2px solid white;
  font-family: var(--secondary-font);
  letter-spacing: var(--primary-spacing);
  height: 30px;
  transition: background-color .3s, color .3s;
}

section.newsletter a:active,
section.newsletter a:hover {
  background-color: white;
  color: var(--primary);
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Sen', sans-serif;
  --primary-spacing: 2px;
  --secondary-spacing: 4px;
  --primary: #048a81;
  --secondary: #3a606e;
  --font-base: 16px;
  --font-big: 20px;
  --font-big: 20px;
  --g1: 20px;
  --g2: 30px;
  --g3: 60px;
  --primary-line-height: 2em;
  --r1: 5px;
  --p1: 5px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

main {
  width: 100%;
  margin-top: 70px;
  margin-bottom: var(--g3);
  display: grid;
  grid-gap: var(--g3);
  box-sizing: border-box;
}

.container {
  padding: 0 var(--g1);
}

section.hero {
  display: grid;
  grid-gap: var(--g1);
}

section.hero h6 {
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: var(--font-base);
  letter-spacing: var(--primary-spacing);
  margin: 0;
}

section.hero h2 {
  font-family: var(--secondary-font);
  letter-spacing: var(--secondary-spacing);
  font-weight: bold;
  margin: 0;
}

section.hero img {
  width: 100%;
  padding: 0;
  margin: 0;
  background-position: cover;
}

section.hero .container {
  display: grid;
  grid-gap: var(--g1);
}

section.hero .container p {
  margin: 0;
  font-family: var(--primary-font);
  line-height: 1.5em;
}

section.hero .container a {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: bold;
  letter-spacing: var(--primary-spacing);
  color: black;
}

section.hero .info {
  display: flex;
  justify-content: space-between;
}

section.hero .info span {
  font-family: var(--primary-font);
}

section.posts {
  display: grid;
  grid-gap: var(--g1);
}

.title-section {
  text-align: center;
  margin: 0;
  font-family: var(--primary-font);
  letter-spacing: var(--secondary-spacing);
  font-weight: 100;
}

section.posts .posts-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: var(--g1);
}

section.posts .posts-grid .post-card {
  height: 200px;
  background-position: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: var(--g1);
  position: relative;
  text-decoration: none;
  opacity: 0;
}

section.posts .posts-grid .post-card:visited {
  color: white;
}

section.posts .posts-grid .post-card h3 {
  margin: 0;
  font-family: var(--secondary-font);
  color: white;
  letter-spacing: var(--primary-spacing);
  margin-top: var(--g1);
  z-index: 1;
}

section.posts .posts-grid .post-card h6 {
  margin: 0;
  font-family: var(--primary-font);
  color: white;
  letter-spacing: var(--primary-spacing);
  z-index: 1;
}

section.posts .posts-grid .post-card .post-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

